/* 自定义按钮 */
/* .a3d-custom-resolution-btn-s-p {
  float: left;
}

.wrap-3tiHesTk- .group-wWM3zP_M- {
  float: left;
}

.fill-2axUON87-.group-wWM3zP_M- {display: none}

.wrap-3tiHesTk- .group-wWM3zP_M-:first-child {
  float: none;
}

.wrap-3tiHesTk- .group-wWM3zP_M-:nth-child(2) {
  float: right;
}

.wrap-3tiHesTk- .group-wWM3zP_M-:nth-child(3) {
  float: right;
} */